{% extends "layout.html" %}
{% load pipeline %}
{% load lookup %}
{% load staticfiles %}

{% block title %}Municipal Finance API Documentation{% endblock %}

{% block head-css %}
{% stylesheet "docs" %}
{% endblock %}

{% block js %}
{{ block.super }}
{% javascript "docs" %}
{% endblock %}

{% block content %}

<a href="#" id="nav-button">
  <span>NAV <img src="{% static 'slate/images/navbar.png' %}" /></span>
</a>
<div class="tocify-wrapper">
  <img src="{% static 'images/treasury-logo.jpg' %}" class="logo" />
  <div class="lang-selector">
    <a href="#" data-language-name="json">JSON</a>
  </div>
  <div class="search c4sa">
    <input type="text" class="search" id="input-search" placeholder="Search">
  </div>
  <ul class="search-results"></ul>
  <div id="toc"></div>

  <ul class="toc-footer">
    <li>Contribute on <a href="https://github.com/Code4SA/municipal-data" target="_blank">GitHub</a></li>
    <li>Built by <a href="http://code4sa.org" target="_blank">Code for South Africa</a></li>
    <li><a href="http://code4sa.org" target="_blank"><img src="{% static 'images/code4sa-logo.png' %}" class="logo"></a></li>
  </ul>
</div>

<div class="page-wrapper">
  <div class="content">
    <h1 id="intro">Municipal Money API</h1>

      <h2 id="cube-{{ cube.name }}">{{ cube.model.label }} - {{ cube.name }}</h2>

      {% if cube.model.description %}
      <p>{{ cube.model.description }}</p>
      {% endif %}

      <p>
        {% if cube.items %}
        <a href="/table/{{ cube.name }}/">View the data</a> |
        <a href="/explore/{{ cube.name }}/#/?view=crosstab&rows=item.position_in_return_form&rows=item.code&rows=item.label&order=&cut=amount_type.label:Audited%20Actual&cut=period_length.length:year&cut=financial_period.period:2015&cut=demarcation.label:Buffalo%20City" title="This link shows some example view parameters set. When using the Pivot Table functionality, it's important not to aggregate things that you don't mean to. For example, some line items don't make sense to sum together because one is a subtotal which includes the other. This view is ordered to appear as it does in the return forms to help understand the structure of items a little better.">Advanced interface</a>
        {% else %}
        <a href="/explore/{{ cube.name }}/">Advanced interface</a>
        {% endif %}
      </p>

      {% if cube.items %}
      <h3 id="{{ cube.name }}-items">Items</h3>

      <table class="items">
        <tr><th>Code</th><th>Item</th><th>Composition</th></tr>
        {% for item in cube.items %}
          <tr class="{{ item|get:'item.return_form_structure' }}-item">
            <td>{{ item|get:"item.code" }}</td>
            <td>{{ item|get:"item.label" }}</td>
            <td>{{ item|get:"item.composition"|default_if_none:"" }}</td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}

      <h3 id="{{ cube.name }}-dimensions">Dimensions and their attributes</h3>

      <table class="dimensions">
        {% for dimension in cube.model.dimensions.values|dictsort:"label" %}
          <tr class="dimension">
            <td colspan="2">{{ dimension.label }}</td>
            <td colspan="2">{{ dimension.description }}</td>
          </tr>

          {% for attribute in dimension.attributes.values|dictsort:"label" %}
            <tr class="attribute">
              <td><b>{{ attribute.label }}</b></td>
              <td>{{ attribute.ref }}</td>
              <td>{{ attribute.type }}</td>
              <td>{{ attribute.description }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>

  </div>
</div>

<a href="https://github.com/Code4SA/municipal-data"><img style="z-index: 20; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

{% endblock %}
